body{
  font-family: 'montserrat', sans-serif;
}
main header{
  background-color: rgb(66,147,135);
  height: 15vh;
}
main{
  background-color: rgb(220,219,214);
}
.my-header{
  height: 8vh;
  background-color: rgb(234,234,234);
}
.notification{
  background-color: rgb(159,216,248);
}
.form-chat{
  height: 9vh;
}
.search{
  background-color: rgb(250,250,250);
  height: 6vh;
}
#search{
  font-size: .7rem;
}
.form-chat .img-profile img{
  border-radius: 50%;
  height: 100%;
}
.form-chat .img-profile{
  height: 100%;
}
.form-chat .text p,
.form-chat .hour p{
  font-size: .7rem;
  color: lightgray;
}